<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading">
	<h3 class="panel-title">
		<strong>
			<%%DETAIL_VIEW_TITLE%%>
		</strong>
		<div class="hidden-print pull-right">
			<div class="btn-group">
				<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>"
					class="btn btn-primary"><i class="glyphicon glyphicon-print"></i>
					<%%TRANSLATION(Print)%%>
				</button>
				<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i
						class="glyphicon glyphicon-remove-circle"></i>
					<%%TRANSLATION(Cancel Printing)%%>
				</button>
			</div>
		</div>
		<div class="clearfix"></div>
	</h3>
</div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static">
					<%%VALUE(id)%%>
				</div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name</label>
			<div class="col-xs-9">
				<div class="form-control-static">
					<%%VALUE(name)%%>
				</div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description</label>
			<div class="col-xs-9">
				<div class="form-control-static">
					<%%VALUE(description)%%>
				</div>
			</div>
		</div>
</div>
<div class="form-group" style="border-bottom: dotted 1px #DDD;">
	<label class="col-xs-3 control-label">Gender</label>
	<div class="col-xs-9">
		<div class="form-control-static">
			<%%COMBOTEXT(Teacherer)%%>
		</div>
	</div>
</div>
<div class="form-group" style="border-bottom: dotted 1px #DDD;">
	<label class="col-xs-3 control-label">Day</label>
	<div class="col-xs-9">
		<div class="form-control-static">
			<%%VALUE(day)%%>
		</div>
	</div>
	<div class="form-group" style="border-bottom: dotted 1px #DDD;">
		<label class="col-xs-3 control-label">Length</label>
		<div class="col-xs-9">
			<div class="form-control-static">
				<%%VALUE(length)%%>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fee</label>
			<div class="col-xs-9">
				<div class="form-control-static">
					<%%VALUE(fee)%%>
				</div>
			</div>
			</fieldset>
		</div>
		<!-- child records -->
		<div class="panel-body">
			<div id="courses-children"></div>
		</div>

		<script>
			$j(function () {
				/* prevent loading child records in multiple DVP */
				if ($j('[id=courses-children]').length > 1) return;

				post(
					'parent-children.php', {
					ParentTable: 'courses',
					SelectedID: '<%%VALUE(id)%%>',
					Operation: 'show-children-printable'
				},
					'courses-children',
					'disable-element',
					'loading-element',
					apply_persisting_children
				);

				$j('form').on('click', '#children-tabs button[data-target]', function () {
					$j(this).toggleClass('active');
					persist_expanded_child($j(this).attr('id'));
				});
			})
		</script>