<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the courses_init() hook (in hooks/courses.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="courses-name-<%%VALUE(id)%%>" class="courses-name"><%%VALUE(name)%%></td>
		<td id="students-Description-<%%VALUE(id)%%>" class="students-Description"><%%VALUE(Description)%%></td>
		<td id="students-Teacher-<%%VALUE(id)%%>" class="students-Teacher"><%%VALUE(Teacher)%%></td>
		<td id="students-Day-<%%VALUE(id)%%>" class="students-Day"><%%VALUE(Day)%%></td>
		<td id="students-Length-<%%VALUE(id)%%>" class="students-Length"><%%VALUE(Length)%%></td>
		<td id="students-Fee-<%%VALUE(id)%%>" class="students-Fee"><%%VALUE(Fee)%%></td>
